---
import Layout from "../layouts/Layout.astro"
import "../../public/static/css/course_home_pages.css"
---

<Layout title="Aerospace Control Systems">
    <!-- Change the above and below to your couse name-->
  <h1>
    <strong>Aerospace Control Systems</strong>
  </h1>
  <section class="mt-sm-4 mt-2">
    <ol>
      <li><a href="/control/pid">PID controllers</a></li>
      <li><a href="/control/state-space-models">State space models</a></li>
      <li><a href="/control/matrix-exponential">The matrix exponential function</a></li>
      <li><a href="/control/stability">Asymptotic stability</a></li>
      <li><a href="/control/eigenvalue-placement">Eigenvalue placement</a></li>
      <li><a href="/control/optimal-controllers">Optimal controllers</a></li>
      <li><a href="/control/state-estimation">State estimation</a></li>
      <li><a href="/control/optimal-observers">Optimal observers</a></li>
      <li><a href="/control/tracking">Reference tracking</a></li>
    </ol>
  </section>
  
  
  <!-- <section class="mt-sm-4 mt-2">
    
    <h3 class="fw-bold w-100">Helpful links:</h3>
    <p>Add any useful links to your course, can remove this section if there are none, e.g:</p>
    <ul>
      <li><a href="/sta/pltips">PrairieLearn tips</a></li>
      <li><a href="/sta/pltips">Other cool thing</a></li>
    </ul>
  </section> -->

  <section class="mt-sm-4 mt-2">
    <h3 class="fw-bold w-100">Faculty Authors</h3>
    <div style="height:10px"></div>
    <div>
        <ul class="list-unstyled d-flex flex-wrap text-center mb-1 ml-4">
                <li class="me-4 text-center">
                      <a href="https://grainger.illinois.edu/about/directory/faculty/tbretl">
                      <!-- <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto.aspx?id=7815&s=300" /> -->
                      <img class="border-orange small-img rounded-circle" src="https://ws.engr.illinois.edu/directory/viewphoto/7815/300" />
                      </a>
                      <h2 style="font-size:20px" class="site-title mt-2">Timothy Bretl</h2>
                </li>
        </ul>
    </div>
    <div style="height:20px"></div>
  </section>

</div>
</Layout>

<style>
      h2 {
            font-weight: 700;
            letter-spacing: -0.7px;
      }
      .small-img {
            width: 120px;
            height: 120px;
            object-fit: cover;
      }
      .border-orange {
            border: 6px solid #C84113;
      }
      .border-blue {

            border: 6px solid #13294B;

      }
</style>